<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="footer">
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Car Sales</h5>
                        <p class="grey-text text-lighten-4">Сервис, который поможет вам продать автомобиль.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Ссылки</h5>
                        <ul>
                            <li>
                                <a class="grey-text text-lighten-3" href="#">GitHub.com</a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#">Вконтакте</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    © 2020 DrewBoiii
                </div>
            </div>
        </footer>
    </div>
</body>
</html>