<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <h1>Details</h1>
                <div class="card">
                    <div class="card-image">
                        <!--            image-->
                        <div>
                            <img th:src="@{/images/vehicle.jpg}" alt="...">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title">
                                <div class="card-title activator grey-text text-darken-4">
                                    <div class="col s6">
                                        <span th:text="${car.carBrand.name} + ' ' + ${car.carModel.name} + ' ' + ${#temporals.format(car.build, 'yyyy')}">
                                            Card Title
                                        </span>
                                    </div>
                                    <div class="col s6" sec:authorize="hasAuthority('user')">
                                    <div class="right" th:if="${isLiked}">
                                        <form th:action="@{|/cars/${car.id}/fav|}" method="post">
                                            <button class="btn red lighten-2" type="submit" name="action">
                                                <i class="material-icons center">favorite</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="right" th:unless="${isLiked}">
                                        <form th:action="@{|/cars/${car.id}/fav|}" method="post">
                                            <button class="btn red lighten-2" type="submit" name="action">
                                                <i class="material-icons center">favorite_border</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </span>
                        <p>
                            <strong th:text="${car.kilometers}"></strong>
                            <strong> km</strong>
                        </p>
                        <p>
                            Owner
                            <a th:href="@{|/home/${car.user.username}|}">
                                <span th:text="${car.user.username}"></span>
                            </a>
                        </p>
                        <p>
                            Build <strong th:text="${#temporals.format(car.createdAt, 'dd-MM-yyy')}"></strong>
                        </p>
                    </div>
                    <div class="card-action">
                        <div sec:authorize="hasAuthority('user')">
                            <div th:if="${#authentication.name.equals(car.user.username)}">
                                <form th:action="@{|/cars/${car.id}/remove|}" method="post">
                                    <div>
                                        <button class="waves-effect waves-light btn red" type="submit">Sold</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </main>
</div>
</body>
</html>