<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Favorites</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <h1>Favorites</h1>

        <!--            filter-->
        <div class="row">
            <form th:action="@{/cars/fav}" th:object="${criteria}">
                <div class="input-field col s6">
                    <select name="brand" style="display: block">
                        <option value="" selected>Brand</option>
                        <option th:each="b : ${brands}" th:text="${b.name}" th:value="${b.name}"></option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="model" style="display: block">
                        <option value="" selected>Model</option>
                        <option th:each="m : ${models}" th:text="${m.name}" th:value="${m.name}"></option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <input id="date" type="date" name="build" class="datepicker"
                           th:min="${#temporals.format(date.minusYears(300), 'yyyy-MM-dd')}"
                           th:max="${#temporals.format(date, 'yyyy-MM-dd')}">
                    <label for="date">Build</label>
                </div>
                <div class="input-field col s6">
                    <input id="kilo" type="number" name="kilometers" min="0">
                    <label th:for="kilo">Kilometers</label>
                </div>
                <div class="input-field col s12">
                    <input id="owner" name="username" type="text" th:value="${criteria.username}" disabled>
                    <label th:for="owner">Owner</label>
                </div>
                <div class="input-field col s6">
                    <select name="sort" style="display: block">
                        <option value="createdAt" selected>Created at</option>
                        <option value="carBrand">Brand</option>
                        <option value="carModel">Model</option>
                        <option value="kilometers">Kilometers</option>
                        <option value="build">Build</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="order" style="display: block">
                        <option value="asc">Asc</option>
                        <option value="desc" selected>Desc</option>
                    </select>
                </div>
                <input type="submit" class="waves-effect waves-light btn" value="Filter">
            </form>
        </div>

        <!--        cars-->
        <div class="row">
            <h3 th:if="${page.content.size() == 0}">Seems like there is no cars :(</h3>
            <div th:each="car : ${page.content}">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">

                            <img th:src="@{images/vehicle.jpg}" alt="car">

                            <div sec:authorize="hasAuthority('user')">
                                <a th:href="@{|/cars/${car.id}|}" class="btn-floating halfway-fab waves-effect waves-light red">
                                    <i class="material-icons">add</i>
                                </a>
                            </div>
                        </div>
                        <div class="card-content">
                            <span class="card-title">
                                <div class="card-title activator grey-text text-darken-4">
                                    <span th:text="${car.carBrand.name} + ' ' + ${car.carModel.name} + ' ' + ${#temporals.format(car.build, 'yyyy')}">
                                        Card Title
                                    </span>
                                    <span>
                                        <i class="material-icons right">more_vert</i>
                                    </span>
                                </div>
                            </span>
                            <p>
                                <span th:text="${car.kilometers}"></span>
                                <span> km</span>
                            </p>
                            <p>
                                <a th:href="@{|/home/${car.user.username}|}">
                                    <span th:text="${car.user.username}"></span>
                                </a>
                            </p>
                            <p>
                                <span th:text="${#temporals.format(car.createdAt, 'dd-MM-yyy')}"></span>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <div class="card-title grey-text text-darken-4">
                                <span th:text="${car.carBrand.name} + ' ' + ${car.carModel.name} + ' ' + ${#temporals.format(car.build, 'yyyy')}">
                                    Card Title
                                </span>
                                <span>
                                    <i class="material-icons right">close</i>
                                </span>
                            </div>
                            <p th:text="${car.description}">description</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--            pagination-->
        <div>
            <ul class="pagination">
                <span th:if="${page.hasPrevious()}">
                    <li>
                        <a th:href="@{|/home?page=${page.number - 1}&sort=${criteria.sort}&order=${criteria.order}|}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                </span>
                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                    <span th:if="${page.number == i}" class="selected">
                        [[${i}+1]]
                    </span>
                    <span th:unless="${page.number == i}">
                        <li class="waves-effect">
                            <a th:href="@{|/home?page=${i}&sort=${criteria.sort}&order=${criteria.order}|}">[[${i}+1]]</a>
                        </li>
                    </span>
                </th:block>
                <span th:if="${page.hasNext()}">
                    <li>
                        <a th:href="@{|/home?page=${page.number + 1}&sort=${criteria.sort}&order=${criteria.order}|}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </span>
            </ul>
        </div>

    </main>
</div>
</body>
</html>