<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <div class="row"></div>
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <h1>Профиль</h1>
                <div class="card">
                    <div class="card-image">

                        <!--            image-->
                        <div th:if="${user.photo != null}">
                            <img th:src="*{'data:image/jpg;base64,' + user.getEncodedPhoto()}"
                                 th:height="400px"
                                 th:width="400px"
                                 alt="...">
                        </div>
                        <div th:unless="${user.photo != null}">
                            <img th:src="@{/images/anonymous.jpg}"
                                 th:height="400px"
                                 th:width="400px"
                                 alt="...">
                        </div>
                    </div>
                    <div class="card-content">
                        <span class="card-title">
                            <div class="card-title grey-text text-darken-4">
                                <div class="col s6">
                                    <strong th:text="${user.username}"></strong>
                                </div>
                                <div class="col s6" sec:authorize="hasAuthority('user')">
                                    <div class="right" th:if="${isLiked}">
                                        <form th:action="@{|/users/${user.username}/fav|}" method="post">
                                            <button class="btn red lighten-2" type="submit" name="action">
                                                <i class="material-icons center">favorite</i>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="right" th:unless="${isLiked}">
                                        <form th:action="@{|/users/${user.username}/fav|}" method="post">
                                            <button class="btn red lighten-2" type="submit" name="action">
                                                <i class="material-icons center">favorite_border</i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <div class="row"></div>
                        <p>
                            Понравилось - <strong th:text="${user.likes.size()}"></strong>
                        </p>
                        <p>
                            Объявлений закрыто - <strong th:text="${user.carsSoldCount}"></strong>
                        </p>
                        <p>
                            Вместе с <strong>Car-Sales</strong> с <strong th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}"></strong>
                        </p>
                    </div>
                    <div class="card-action" sec:authorize="hasAuthority('user')">
                        <div class="text-darken-8">
                            <h4 th:text="${user.phone}"></h4>
                        </div>
                    </div>
                </div>

                <!--            roles-->
                <div class="row"></div>
                <div sec:authorize="hasAuthority('admin')">
                    <form th:action="@{/users/roles/update}" th:object="${role_dto}" method="post">
                        <h3>Изменить права пользователя</h3>
                        <input type="hidden" name="id" th:value="${user.id}">
                        <div th:each="role : ${roles}">
                            <div th:if="${#lists.contains(user.roles, role)}">
                                <label>
                                    <input type="checkbox" name="roles" th:value="${role.name}" checked />
                                    <span th:text="${role.name}"></span>
                                </label>
                            </div>
                            <div th:unless="${#lists.contains(user.roles, role)}">
                                <label>
                                    <input type="checkbox" name="roles" th:value="${role.name}" />
                                    <span th:text="${role.name}"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="row">
                            <div class="col s12 center">
                                <input type="submit" class="col s12 waves-effect waves-light btn" value="Обновить">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </main>
</div>
</body>
</html>