<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <main class="container">
        <h1>Пользователи</h1>

        <!--            filter-->
        <div class="row">
            <form th:action="@{/users}" th:object="${criteria}">
                <div class="input-field col s4">
                    <input id="username" name="username" type="text" th:value="${criteria.username}">
                    <label th:for="username">Владелец</label>
                </div>
                <div class="input-field col s4">
                    <input id="fn" name="firstName" type="text" th:value="${criteria.firstName}">
                    <label th:for="fn">Имя</label>
                </div>
                <div class="input-field col s4">
                    <input id="ln" name="lastName" type="text" th:value="${criteria.lastName}">
                    <label th:for="ln">Фамилия</label>
                </div>
                <div class="input-field col s6">
                    <select name="sort" style="display: block">
                        <option value="createdAt" selected>Дата</option>
                        <option value="username">Логин</option>
                        <option value="firstName">Имя</option>
                        <option value="lastName">Фамилия</option>
                    </select>
                </div>
                <div class="input-field col s6">
                    <select name="order" style="display: block">
                        <option value="asc">Asc</option>
                        <option value="desc" selected>Desc</option>
                    </select>
                </div>
                <div class="col s12">
                    <input type="submit" class="waves-effect waves-light btn" value="Фильтровать">
                </div>
            </form>
        </div>

        <!--            users-->
        <div class="row">
            <h3 th:if="${page.content.size() == 0}">Кажется здесь отсутствуют какие-либо пользователи :(</h3>
            <div th:each="user : ${page.content}">
                <div class="col s4">
                    <div class="card">
                        <div class="card-image">

                            <!--            image-->
                            <div th:if="${user.photo != null}">
                                <img th:src="*{'data:image/jpg;base64,' + user.getEncodedPhoto()}" alt="...">
                            </div>
                            <div th:unless="${user.photo != null}">
                                <img th:src="@{/images/anonymous.jpg}" alt="...">
                            </div>
                        </div>
                        <div class="card-content">
                        <span class="card-title">
                            <div class="card-title grey-text text-darken-4">
                                <a th:href="@{|/home/${user.username}|}" th:text="${user.username}"></a>
                            </div>
                        </span>
                            <div class="row"></div>
                            <p>
                                Понравилось - <strong th:text="${user.likes.size()}"></strong>
                            </p>
                            <p>
                                Объявлений закрыто - <strong th:text="${user.carsSoldCount}"></strong>
                            </p>
                            <p>
                                Вместе с <strong>Car-Sales</strong> с <strong th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}"></strong>
                            </p>
                            <h5>Права</h5>
                            <div th:each="role : ${user.roles}">
                                <p th:text="${role.name}"></p>
                            </div>
                        </div>
                        <div class="card-action" sec:authorize="hasAuthority('user')">
                            <div class="text-darken-8">
                                <h4 th:text="${user.phone}"></h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--            pagination-->
        <div class="col s12">
            <ul class="pagination">
                <span th:if="${page.hasPrevious()}">
                    <li>
                        <a th:href="@{|/users?page=${page.number - 1}&sort=${criteria.sort}&order=${criteria.order}|}">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                </span>
                <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
                    <span th:if="${page.number == i}" class="selected">
                        [[${i}+1]]
                    </span>
                    <span th:unless="${page.number == i}">
                        <li class="waves-effect">
                            <a th:href="@{|/users?page=${i}&sort=${criteria.sort}&order=${criteria.order}|}">[[${i}+1]]</a>
                        </li>
                    </span>
                </th:block>
                <span th:if="${page.hasNext()}">
                    <li>
                        <a th:href="@{|/users?page=${page.number + 1}&sort=${criteria.sort}&order=${criteria.order}|}">
                            <i class="material-icons">chevron_right</i>
                        </a>
                    </li>
                </span>
            </ul>
        </div>

    </main>
</div>
</body>
</html>